* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7f6;
  color: #333;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  background: #2f6b4f;
  color: #fff;
}

.header nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
}
nav a:hover{
  transition: 0.3s ease;
}

/* Hero */
.hero {
  background: #dfeee5;
  padding: 30px 8%;
}

.hero-cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.circle-card {
  text-align: center;
}

.circle-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

/* Layout */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 40px 8%;
}

/* Posts */
.post {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.post.reverse {
  flex-direction: row-reverse;
}

.post img {
  width: 45%;
  border-radius: 10px;
}

.post h2 {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background: #2f6b4f;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
}

/* Cards */
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card a {
  display: block;
  margin-top: 10px;
  color: #2f6b4f;
  text-decoration: none;
}

/* Sidebar */
.sidebar .box {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.newsletter input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.newsletter button {
  width: 100%;
  padding: 8px;
  border: none;
  background: #2f6b4f;
  color: #fff;
  border-radius: 20px;
}
.newsletter button:hover{
  transform: translateY(10);
}

.small-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.small-grid a {
  text-decoration: none;
  color: #2f6b4f;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: #2f6b4f;
  color: #fff;
  margin-top: 40px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Responsive */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .post {
    flex-direction: column;
  }

  .post img {
    width: 100%;
  }
}

